h3,h1{
  text-align: center;
  color: #b675ef;
}
p{
  font-size: 18px;
}
body{
  background-color: #9ddff9;
}
ul{
  font-family: monospace;
  font-size: 100px;
  text-align: center;
  list-style:none;
}
.clickable1 {
  cursor:pointer;
  color:#428bca;
}
.clickable1:hover{
  text-decoration: underline;
}
.clickable2 {
  cursor:pointer;
  color:#428bca;
}
.clickable2:hover{
  text-decoration: underline;
}
.clickable3 {
  cursor:pointer;
  color:#428bca;
}
.clickable3:hover{
  text-decoration: underline;
}
.clickable4 {
  cursor:pointer;
  color:#428bca;
}
.clickable4:hover{
  text-decoration: underline;
}
.clickable5 {
  cursor:pointer;
  color:#428bca;
}
.clickable5:hover{
  text-decoration: underline;
}
.clickable6 {
  cursor:pointer;
  color:#428bca;
}
.clickable6:hover{
  text-decoration: underline;
}
.clickable7 {
  cursor:pointer;
  color:#428bca;
}
.clickable7:hover{
  text-decoration: underline;
}
.clickable8 {
  cursor:pointer;
  color:#428bca;
}
.clickable8:hover{
  text-decoration: underline;
}
.clickable9 {
  cursor:pointer;
  color:#428bca;
}
.clickable9:hover{
  text-decoration: underline;
}
.clickable10 {
  cursor:pointer;
  color:#428bca;
}
.clickable10:hover{
  text-decoration: underline;
}
.clickable11 {
  cursor:pointer;
  color:#428bca;
}
.clickable11:hover{
  text-decoration: underline;
}
.clickable12 {
  cursor:pointer;
  color:#428bca;
}
.clickable12:hover{
  text-decoration: underline;
}
.clickable13 {
  cursor:pointer;
  color:#428bca;
}
.clickable13:hover{
  text-decoration: underline;
}
.clickable14 {
  cursor:pointer;
  color:#428bca;
}
.clickable14:hover{
  text-decoration: underline;
}
.clickable15 {
  cursor:pointer;
  color:#428bca;
}
.clickable15:hover{
  text-decoration: underline;
}
.clickable16 {
  cursor:pointer;
  color:#428bca;
}
.clickable16:hover{
  text-decoration: underline;
}
.clickable17 {
  cursor:pointer;
  color:#428bca;
}
.clickable17:hover{
  text-decoration: underline;
}
.clickable18 {
  cursor:pointer;
  color:#428bca;
}
.clickable18:hover{
  text-decoration: underline;
}
.clickable19 {
  cursor:pointer;
  color:#428bca;
}
.clickable19:hover{
  text-decoration: underline;
}
.clickable20 {
  cursor:pointer;
  color:#428bca;
}
.clickable20:hover{
  text-decoration: underline;
}
.hide1{
  display:none;
}

.hide2{
  display:none;
}
.hide3{
  display:none;
}
.hide4{
  display:none;
}
.hide5{
  display:none;
}
.hide6{
  display:none;
}
.hide7{
  display:none;
}
.hide8{
  display:none;
}
.hide9{
  display:none;
}
.hide10{
  display:none;
}
.hide11{
  display:none;
}
.hide12{
  display:none;
}
.hide13{
  display:none;
}
.hide14{
  display:none;
}
.hide15{
  display:none;
}
.hide16{
  display:none;
}
.hide17{
  display:none;
}
.hide18{
  display:none;
}
.hide19{
  display:none;
}
.hide20{
  display:none;
}
.btn{
  width: 60%;
  margin-top: 30px;
  float: left;
}
#Clear{
  float: right;
  width: 38%;
}
